@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
.to-cart__bonus::after,
[class*=_icon-]:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
[class*=_icon-]:before {
  display: block
}
._icon-bonus:before {
  content: ""
}
._icon-cross:before {
  content: ""
}
._icon-chevron-left:before {
  content: ""
}
._icon-filter:before {
  content: ""
}
._icon-arrow-up:before {
  content: ""
}
._icon-call-circle:before {
  content: ""
}
._icon-clock:before {
  content: ""
}
._icon-s-tt:before {
  content: ""
}
._icon-bag:before {
  content: ""
}
._icon-call:before {
  content: ""
}
._icon-chat:before {
  content: ""
}
._icon-heart:before {
  content: ""
}
._icon-location:before {
  content: ""
}
._icon-np:before {
  content: ""
}
._icon-ruler:before {
  content: ""
}
._icon-search:before {
  content: ""
}
._icon-s-fb:before {
  content: ""
}
._icon-s-inst:before {
  content: ""
}
._icon-s-mail:before {
  content: ""
}
._icon-s-yt:before {
  content: ""
}
._icon-track:before {
  content: ""
}
._icon-user:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
* {
  -webkit-tap-highlight-color: transparent
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #323232;
  line-height: 1;
  font-family: Roboto;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: #323232;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
details summary {
  list-style: none
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 97.9375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  touch-action: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box
}
.noUi-target {
  position: relative
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1
}
.noUi-connects {
  overflow: hidden;
  z-index: 0
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
  transform-style: flat
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto
}
.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0
}
.noUi-horizontal .noUi-origin {
  height: 0
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute
}
.noUi-touch-area {
  height: 100%;
  width: 100%
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.noUi-state-drag * {
  cursor: inherit!important
}
.noUi-horizontal {
  height: .1875rem
}
.noUi-horizontal .noUi-handle {
  right: -8px;
  top: -6px
}
.noUi-vertical {
  width: 18px
}
.noUi-target {
  background-color: #807d7e;
  border-radius: .1875rem
}
.noUi-connects {
  border-radius: 3px
}
.noUi-connect {
  background-color: #000
}
.noUi-draggable {
  cursor: ew-resize
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize
}
.noUi-handle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #000;
  cursor: -webkit-grab;
  cursor: grab
}
.noUi-active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background-color: #141414
}
[disabled] .noUi-connect {
  background: #b8b8b8
}
[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed
}
.noUi-pips,
.noUi-pips * {
  box-sizing: border-box
}
.noUi-pips {
  position: absolute;
  color: #999
}
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px
}
.noUi-marker {
  position: absolute;
  background: #ccc
}
.noUi-marker-sub {
  background: #aaa
}
.noUi-marker-large {
  background: #aaa
}
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%,50%);
  transform: translate(-50%,50%)
}
.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%,50%);
  transform: translate(50%,50%)
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px
}
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%
}
.noUi-value-vertical {
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  padding-left: 25px
}
.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0,50%);
  transform: translate(0,50%)
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  left: 50%;
  bottom: 120%
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  top: 50%;
  right: 120%
}
.noUi-horizontal .noUi-origin>.noUi-tooltip {
  -webkit-transform: translate(50%,0);
  transform: translate(50%,0);
  left: auto;
  bottom: 10px
}
.noUi-vertical .noUi-origin>.noUi-tooltip {
  -webkit-transform: translate(0,-18px);
  transform: translate(0,-18px);
  top: auto;
  right: 28px
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: .3125rem
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.footer__link,
.product-item__link,
.submenu__link {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color .3s
}
.spoilers-product__textarea::-webkit-input-placeholder {
  -webkit-transition: all .3s;
  transition: all .3s
}
.spoilers-product__textarea:-ms-input-placeholder {
  -ms-transition: all .3s;
  transition: all .3s
}
.spoilers-product__textarea::-ms-input-placeholder {
  -ms-transition: all .3s;
  transition: all .3s
}
.spoilers-product__textarea::placeholder {
  transition: all .3s
}
.spoilers-product__textarea:focus-visible {
  outline: 0
}
.spoilers-product__textarea:focus-visible::-webkit-input-placeholder {
  -webkit-transform: translateX(10%);
  transform: translateX(10%);
  opacity: 0
}
.spoilers-product__textarea:focus-visible:-ms-input-placeholder {
  transform: translateX(10%);
  opacity: 0
}
.spoilers-product__textarea:focus-visible::-ms-input-placeholder {
  transform: translateX(10%);
  opacity: 0
}
.spoilers-product__textarea:focus-visible::placeholder {
  -webkit-transform: translateX(10%);
  transform: translateX(10%);
  opacity: 0
}
.checkbox-text__input,
.colors-filter input,
.sizes__item input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0
}
.header {
  background-color: #fff;
  transition: all .3s;
  position: relative;
  z-index: 50
}
.header__label {
  font-size: .9375rem;
  display: block;
  color: #fff;
  font-weight: 700;
  font-family: Roboto;
  text-align: center;
  background-color: #000;
  padding: .8125rem .9375rem
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
  gap: .9375rem;
  transition: all .3s;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}
.header__logo {
  display: block
}
.header__logo img {
  -o-object-position: left;
  object-position: left;
  aspect-ratio: 144/58;
  max-width: 9rem
}
.menu__item {
  font-size: 1.3125rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  font-family: Roboto;
  letter-spacing: .0625rem;
  position: relative
}
.menu__item::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  background-color: #000;
  height: .1875rem;
  width: 0;
  transition: all .3s
}
.actions-header {
  display: flex;
  gap: 1.75rem;
  align-items: center
}
.actions-header__item {
  font-size: 1.625rem
}
.actions-header__item::before {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.submenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 2.5rem;
  -webkit-column-gap: 4.0625rem;
  -moz-column-gap: 4.0625rem;
  column-gap: 4.0625rem
}
.submenu__title {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: .0625rem;
  color: #323232;
  text-transform: uppercase
}
.submenu__title:not(:last-child) {
  margin-bottom: 1.5625rem
}
.submenu__item {
  font-size: 1rem;
  color: #323232;
  letter-spacing: .0625rem;
  text-transform: none;
  font-weight: 400
}
.submenu__item:not(:last-child) {
  margin-bottom: .625rem
}
.footer {
  background-color: #fff
}
.footer__content {
  display: flex;
  row-gap: 1.5625rem;
  flex-wrap: wrap;
  justify-content: center
}
.footer__title {
  font-size: 1.125rem;
  color: #000;
  font-weight: 700;
  font-family: Roboto,sans-serif;
  text-transform: uppercase;
  letter-spacing: .125rem
}
.footer__item {
  letter-spacing: .0625rem
}
.footer__item:not(:last-child) {
  margin-bottom: .6875rem
}
.social {
  display: flex;
  gap: 1.0625rem
}
.social__item {
  transition: opacity .3s;
  font-size: 2.0625rem
}
.banner-home__image-link {
  display: block;
  aspect-ratio: 1530/781
}
.label-home {
  display: block;
  background-color: #f4f4f4;
  letter-spacing: .125rem;
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  font-family: Roboto,sans-serif;
  text-align: center
}
.filter {
  display: flex;
  justify-content: space-between;
  gap: .9375rem;
  flex-wrap: wrap
}
.filter__block {
  position: relative;
  z-index: 3
}
.filter__header {
  display: flex;
  gap: .9375rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.75rem
}
.filter__title {
  font-size: 1.3125rem;
  letter-spacing: .0625rem;
  text-transform: uppercase;
  color: #787878;
  font-weight: 700;
  font-family: Roboto,sans-serif;
  padding-bottom: .875rem;
  position: relative;
  transition: color .3s;
  cursor: pointer
}
.filter__title--main {
  color: #000
}
.filter__title._spoiler-active {
  color: #000
}
.filter__title._spoiler-active::before {
  width: 100%
}
.filter__title._spoiler-active::after {
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg)
}
.filter__close {
  font-size: 1.1875rem
}
.filter__body {
  display: flex;
  flex-direction: column;
  gap: 2.1875rem
}
.filter__items {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.filter__button {
  padding: .625rem 2.5rem;
  background-color: #d3d3d3;
  font-size: 1rem;
  letter-spacing: .0625rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  transition: background-color .3s;
  font-family: Roboto,sans-serif;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: .9375rem;
  align-items: center;
  margin: 0 3.75rem
}
.filter__button::before {
  font-size: 1.5625rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.filter__button:not(:first-child) {
  margin-top: 1.875rem
}
.filter__button--block {
  margin: 0;
  display: block
}
.filter__button--block:not(:first-child) {
  margin-top: 0
}
.filter__price {
  padding: .625rem
}
.price-filter__range {
  max-width: 100%
}
.price-filter__range:not(:last-child) {
  margin-bottom: 1.875rem
}
.price-filter__inputs {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: center
}
.price-filter__input {
  width: 6.0625rem;
  height: 2rem;
  border-radius: .5rem;
  border: .0625rem solid rgba(190,188,189,.8);
  color: #3c4242;
  font-weight: 500;
  text-align: center
}
.price-filter__input:focus-visible {
  outline-color: #000
}
.checkbox-text {
  position: relative;
  display: flex;
  gap: .625rem;
  align-items: center;
  cursor: pointer;
  transition: color .3s;
  color: #929292
}
.checkbox-text::before {
  content: "";
  height: 1.125rem;
  width: 1.125rem;
  border: .0625rem solid #c3c5c7;
  transition: all .3s;
  flex-shrink: 0
}
.checkbox-text:has(.checkbox-text__input:checked) {
  color: #000;
  font-weight: 700
}
.checkbox-text:has(.checkbox-text__input:checked)::before {
  background-color: #a4a4a6
}
.catalog {
  padding-top: 3.4375rem
}
.catalog__header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .9375rem
}
.catalog__header:not(:last-child) {
  margin-bottom: 1.875rem
}
.catalog__title {
  font-size: 1.5625rem;
  letter-spacing: .0625rem;
  color: #000;
  font-weight: 700;
  flex-grow: 1;
  align-items: center;
  text-transform: uppercase;
  font-family: Roboto,sans-serif
}
.catalog__filter-button {
  font-size: 2.0625rem;
  transition: color .3s;
  color: #000
}
.catalog__products {
  display: grid;
  grid-template-columns: repeat(4,1fr)
}
.sizes {
  display: flex;
  gap: .3125rem;
  flex-wrap: wrap
}
.sizes__item {
  position: relative;
  padding: .9375rem;
  font-size: .875rem;
  border: .0625rem solid #d1d1d1;
  cursor: pointer;
  transition: all .3s
}
.sizes__item:has(input:checked) {
  background-color: #000;
  color: #fff
}
.colors-filter {
  display: flex;
  gap: 1.625rem;
  flex-wrap: wrap
}
.colors-filter__item {
  height: 1.625rem;
  width: 1.625rem;
  border: .0625rem solid #bdbdbd;
  cursor: pointer;
  transition: border-radius .2s
}
.colors-filter__item:has(input:checked) {
  border-radius: .5rem
}
.product-item__image-link {
  display: block;
  aspect-ratio: 1/1;
  overflow: hidden
}
.product-item__image-link:not(:last-child) {
  margin-bottom: 1.25rem
}
.product-item__image-link img {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.product-item__title {
  text-align: center;
  letter-spacing: .0625rem
}
.product-item__title:not(:last-child) {
  margin-bottom: .9375rem
}
.product-item__price {
  color: #787878;
  font-weight: 700;
  letter-spacing: .0625rem;
  text-align: center
}
.page__product {
  padding-top: 2.5rem
}
.product__slider .splide__slide {
  aspect-ratio: 1/1
}
.product__slider .splide__track--nav {
  padding-bottom: .3125rem
}
.product__slider .splide__track--nav>.splide__list>.splide__slide.is-active {
  border: none;
  transition: box-shadow .3s;
  box-shadow: 0 .3125rem .625rem -.625rem #000
}
.product__body {
  flex-grow: 1
}
.product__title {
  letter-spacing: .0625rem;
  color: #000;
  font-weight: 700;
  font-family: Roboto,sans-serif
}
.product__title:not(:last-child) {
  margin-bottom: 2.3125rem
}
.product__sizes:not(:last-child) {
  margin-bottom: 4.5625rem
}
.product__to-cart:not(:last-child) {
  margin-bottom: 3.75rem
}
.product__specs {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-column-gap: 2.125rem;
  -moz-column-gap: 2.125rem;
  column-gap: 2.125rem;
  row-gap: .75rem
}
.product__specs:not(:last-child) {
  margin-bottom: 3.125rem
}
.product__specs dt {
  font-size: 1rem;
  letter-spacing: .0625rem;
  color: #969696;
  font-family: Roboto,sans-serif
}
.product__credit:not(:last-child) {
  margin-bottom: 2.3125rem
}
.product__shipping {
  padding-bottom: 1.5625rem;
  position: relative
}
.product__shipping::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .0625rem;
  background-color: #787878
}
.product__shipping:not(:last-child) {
  margin-bottom: 1.875rem
}
.sizes-product {
  display: flex;
  gap: .9375rem;
  align-items: end
}
.sizes-product__body {
  flex-grow: 1
}
.sizes-product__label {
  color: #000;
  font-family: Roboto,sans-serif;
  font-weight: 500;
  font-size: 1rem
}
.sizes-product__label:not(:last-child) {
  margin-bottom: .625rem
}
.sizes-product__button {
  font-size: 1rem;
  letter-spacing: .0625rem;
  color: #c8c8c8;
  font-weight: 500;
  font-family: Roboto,sans-serif;
  position: relative;
  height: 2.625rem;
  display: flex;
  align-items: end;
  flex-shrink: 0;
  transition: color .3s;
  padding-right: 1.5625rem
}
.sizes-product__button::before {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #000;
  font-size: 2.625rem
}
.to-cart {
  display: inline-grid;
  grid-template-columns: 1fr 3.1875rem;
  gap: .9375rem
}
.to-cart__col {
  display: flex;
  gap: .625rem;
  align-items: center;
  flex-wrap: wrap
}
.to-cart__price {
  letter-spacing: .0625rem;
  color: #000;
  font-weight: 700;
  font-family: Roboto,sans-serif;
  flex-grow: 1
}
.to-cart__bonus {
  display: flex;
  gap: .3125rem;
  align-items: center;
  font-size: 1rem;
  letter-spacing: .0625rem;
  color: #c8c8c8;
  font-weight: 500;
  font-family: Roboto,sans-serif
}
.to-cart__bonus span {
  color: #787878;
  font-weight: 700
}
.to-cart__bonus::after {
  content: "";
  display: block;
  font-size: 1.6875rem
}
.to-cart__favorite {
  border: .125rem solid #c7c7c7;
  padding: .5625rem;
  font-size: 1.8125rem;
  color: #777;
  transition: background-color .3s
}
.shipping-product__title {
  letter-spacing: .0625rem;
  color: #000;
  font-weight: 700;
  font-family: Roboto,sans-serif;
  text-transform: uppercase
}
.shipping-product__title:not(:last-child) {
  margin-bottom: 1.15625rem
}
.shipping-product__item {
  display: flex;
  gap: 1.875rem;
  align-items: center
}
.shipping-product__item:not(:last-child) {
  margin-bottom: 1.5625rem
}
.shipping-product__icon {
  font-size: 1.875rem;
  color: #777
}
.shipping-product__body {
  display: flex;
  flex-direction: column;
  gap: .5625rem
}
.shipping-product__label {
  color: #000;
  line-height: 1.2
}
.shipping-product__label--gray {
  color: #787878
}
.shipping-product__label span {
  font-weight: 600
}
.spoilers-product__item {
  position: relative;
  padding-bottom: .625rem
}
.spoilers-product__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .0625rem;
  transition: width .3s;
  background-color: #787878
}
.spoilers-product__item:has(._spoiler-active)::before {
  width: 0
}
.spoilers-product__item:not(:last-child) {
  margin-bottom: 1.875rem
}
.spoilers-product__title {
  letter-spacing: .0625rem;
  color: #000;
  font-weight: 700;
  font-family: Roboto,sans-serif;
  text-transform: uppercase;
  padding-bottom: 1.5625rem;
  cursor: pointer
}
.spoilers-product__textarea {
  border: .0625rem solid #777;
  resize: none;
  overflow-x: hidden;
  padding: 1.4375rem 1.125rem;
  min-height: 20rem;
  color: #000;
  line-height: 1.2;
  font-size: 1rem
}
.spoilers-product__textarea::-webkit-input-placeholder {
  color: #787878
}
.spoilers-product__textarea:-ms-input-placeholder {
  color: #787878
}
.spoilers-product__textarea::-ms-input-placeholder {
  color: #787878
}
.spoilers-product__textarea::placeholder {
  color: #787878
}
.feedback {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.feedback__item {
  height: 12.5rem;
  background-color: #c7c7c7
}
.button-product {
  display: block;
  letter-spacing: .0625rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-family: Roboto,sans-serif;
  background-color: #787878;
  padding: .8125rem 1.125rem;
  position: relative;
  transition: background-color .3s
}
.button-product::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #000;
  transition: width .3s
}
.button-product span {
  position: relative
}
.splide__container {
  box-sizing: border-box;
  position: relative
}
.splide__list {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  margin: 0!important;
  padding: 0!important
}
.splide.is-initialized:not(.is-active) .splide__list {
  display: block
}
.splide__pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  pointer-events: none
}
.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto
}
.splide:not(.is-overflow) .splide__pagination {
  display: none
}
.splide__progress__bar {
  width: 0
}
.splide {
  position: relative;
  visibility: hidden
}
.splide.is-initialized,
.splide.is-rendered {
  visibility: visible
}
.splide__slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  list-style-type: none!important;
  margin: 0;
  position: relative
}
.splide__slide img {
  vertical-align: bottom
}
.splide__spinner {
  -webkit-animation: splide-loading 1s linear infinite;
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px
}
.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}
.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
  display: none
}
.splide__toggle.is-active .splide__toggle__pause {
  display: inline
}
.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0
}
@-webkit-keyframes splide-loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}
@keyframes splide-loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.splide__track--fade>.splide__list>.splide__slide {
  margin: 0!important;
  opacity: 0;
  z-index: 0
}
.splide__track--fade>.splide__list>.splide__slide.is-active {
  opacity: 1;
  z-index: 1
}
.splide--rtl {
  direction: rtl
}
.splide__track--ttb>.splide__list {
  display: block
}
.splide__arrow {
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 2em;
  justify-content: center;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2em;
  z-index: 1
}
.splide__arrow svg {
  fill: #000;
  height: 1.2em;
  width: 1.2em
}
.splide__arrow:hover:not(:disabled) {
  opacity: .9
}
.splide__arrow:disabled {
  opacity: .3
}
.splide__arrow:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__arrow--prev {
  left: 1em
}
.splide__arrow--prev svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}
.splide__arrow--next {
  right: 1em
}
.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__pagination {
  bottom: .5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1
}
.splide__pagination__page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: .7;
  padding: 0;
  position: relative;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear,-webkit-transform .2s linear;
  width: 8px
}
.splide__pagination__page.is-active {
  background: #fff;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  z-index: 1
}
.splide__pagination__page:hover {
  cursor: pointer;
  opacity: .9
}
.splide__pagination__page:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__progress__bar {
  background: #ccc;
  height: 3px
}
.splide__slide {
  -webkit-tap-highlight-color: transparent
}
.splide__slide:focus {
  outline: 0
}
@supports (outline-offset:-3px) {
  .splide__slide:focus-visible {
    outline: 3px solid #0bf;
    outline-offset: -3px
  }
}
@supports (outline-offset:-3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: 3px solid #0bf;
    outline-offset: -3px
  }
}
.splide__toggle {
  cursor: pointer
}
.splide__toggle:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide.is-focus-in .splide__toggle:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__track--nav>.splide__list>.splide__slide {
  border: 3px solid transparent;
  cursor: pointer
}
.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: 3px solid #000
}
.splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em
}
.splide__arrows--rtl .splide__arrow--prev svg {
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}
.splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto
}
.splide__arrows--rtl .splide__arrow--next svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}
.splide__arrows--ttb .splide__arrow {
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%)
}
.splide__arrows--ttb .splide__arrow--prev {
  top: 1em
}
.splide__arrows--ttb .splide__arrow--prev svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.splide__arrows--ttb .splide__arrow--next {
  bottom: 1em;
  top: auto
}
.splide__arrows--ttb .splide__arrow--next svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.splide__pagination--ttb {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: .5em;
  top: 0
}
@media (min-width:47.99875em) {
  .product__container {
    display: flex;
    align-items: start
  }
  .product__slider {
    flex: 0 0 50.813273%
  }
  .product__sizes {
    max-width: 33.75rem
  }
  .product__to-cart {
    max-width: 21.875rem
  }
  .product__shipping::before {
    max-width: 23.875rem
  }
  .spoilers-product__item::before {
    max-width: 23.875rem
  }
}
@media (min-width:61.99875em) {
  .menu__item {
    padding-bottom: .4375rem;
    margin-bottom: -.4375rem
  }
  .menu__submenu {
    position: absolute;
    pointer-events: none;
    top: 100%;
    left: -4.625rem;
    transition: all .3s;
    width: -webkit-max-content;
    width: max-content;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(1.875rem);
    transform: translateY(1.875rem)
  }
  .submenu {
    max-height: 26.3125rem;
    padding: 4.375rem 6.25rem;
    background-color: #fff
  }
  .filter__header {
    display: none
  }
  .filter__title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: .125rem;
    width: 0;
    transition: width .3s;
    background-color: #000
  }
  .filter__body {
    position: absolute;
    left: 50%;
    align-items: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 100%;
    width: -webkit-max-content;
    width: max-content;
    padding: 1.3125rem 1.3125rem 1.625rem 1.3125rem;
    background-color: #fff
  }
  .filter__block:first-of-type .filter__body {
    left: 0;
    -webkit-transform: none;
    transform: none
  }
  .filter__block:last-of-type .filter__body {
    left: auto;
    right: 0;
    -webkit-transform: none;
    transform: none
  }
  .filter__button {
    display: none
  }
  .filter__sizes {
    max-width: 10rem
  }
  .filter__colors {
    max-width: 11.375rem
  }
  .catalog__filter:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .catalog__filter-button {
    display: none
  }
}
@media (min-width:97.9375em) {
  .menu__list {
    -webkit-column-gap: 5.1875rem;
    -moz-column-gap: 5.1875rem;
    column-gap: 5.1875rem
  }
  .footer {
    padding-top: 5.3125rem
  }
  .footer {
    padding-bottom: 3.9375rem
  }
  .footer__content {
    -webkit-column-gap: 6.25rem;
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem
  }
  .footer__title:not(:last-child) {
    margin-bottom: 2.25rem
  }
  .footer__list:not(:last-child) {
    margin-bottom: 2.4375rem
  }
  .page__banner {
    margin-bottom: 6.25rem
  }
  .label-home {
    font-size: 1.5625rem
  }
  .label-home {
    padding-top: 2.75rem
  }
  .label-home {
    padding-bottom: 2.75rem
  }
  .catalog__products {
    -webkit-column-gap: 2.875rem;
    -moz-column-gap: 2.875rem;
    column-gap: 2.875rem
  }
  .catalog__products {
    row-gap: 3.75rem
  }
  .product-item__title {
    font-size: 1.125rem
  }
  .product-item__price {
    font-size: 1.5625rem
  }
  .product__body {
    padding-left: 5rem
  }
  .product__title {
    font-size: 1.5625rem
  }
  .to-cart__price {
    font-size: 1.5625rem
  }
  .shipping-product__title {
    font-size: 1.5625rem
  }
  .spoilers-product__title {
    font-size: 1.5625rem
  }
  .button-product {
    font-size: 1.5625rem
  }
}
@media (min-width:25em) {
  .header__menu {
    flex-grow: 1
  }
}
@media (max-width:25em) {
  .wrapper {
    padding-bottom: 3.5rem
  }
  .header__logo {
    flex-grow: 1;
    text-align: center
  }
  .header__actions {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex
  }
  .actions-header {
    justify-content: space-between;
    padding: .9375rem 1.3125rem
  }
}
@media (max-width:20em) {
  .footer {
    padding-top: 1.875rem
  }
  .footer {
    padding-bottom: .9375rem
  }
  .footer__content {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
  .footer__title:not(:last-child) {
    margin-bottom: .5625rem
  }
  .footer__list:not(:last-child) {
    margin-bottom: .625rem
  }
  .page__banner {
    margin-bottom: 1.25rem
  }
  .label-home {
    font-size: .75rem
  }
  .label-home {
    padding-top: .625rem
  }
  .label-home {
    padding-bottom: .625rem
  }
  .catalog__products {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .catalog__products {
    row-gap: 1.25rem
  }
  .product__title {
    font-size: 1.25rem
  }
  .to-cart__price {
    font-size: 1.25rem
  }
  .shipping-product__title {
    font-size: 1.125rem
  }
  .spoilers-product__title {
    font-size: 1.125rem
  }
  .button-product {
    font-size: 1rem
  }
}
@media (max-width:61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    padding: 4.625rem 1.25rem 4.375rem;
    transition: left .3s;
    background-color: #fff
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.625rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2;
    background-color: #fff
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem;
    flex-direction: column;
    align-items: stretch;
    gap: 2.5rem
  }
  .icon-menu {
    display: block;
    position: absolute;
    left: .9375rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2.125rem;
    height: 1.5rem;
    z-index: 5
  }
  .menu-open .icon-menu {
    position: fixed;
    top: 1.25rem;
    left: 1.25rem;
    -webkit-transform: none;
    transform: none
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .1875rem;
    border-radius: .625rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__container {
    padding-top: .625rem;
    padding-bottom: .625rem;
    padding-left: 4rem
  }
  .header__logo img {
    max-width: 6.6875rem
  }
  .menu__item {
    font-size: 1.875rem
  }
  .menu__submenu {
    margin-top: 1.25rem;
    padding-left: .9375rem
  }
  .submenu__title {
    font-size: 1.5rem
  }
  .submenu__title:not(:last-child) {
    margin-bottom: .9375rem
  }
  .submenu__item {
    font-size: 1.25rem
  }
  .filter {
    flex-direction: column;
    background-color: #fff;
    z-index: 60;
    overflow: auto;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 0;
    padding-bottom: 1.875rem
  }
  .filter__block {
    border-top: .0625rem solid #d7dadc;
    border-bottom: .0625rem solid #d7dadc;
    padding: 0 3.75rem
  }
  .filter__title {
    padding: 1.875rem 0;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between
  }
  .filter__title::after {
    content: "";
    font-family: icons;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
  }
  .filter__title--main::after {
    display: none
  }
  .filter__body {
    padding-bottom: 1.875rem
  }
  .filter__button--block {
    display: none
  }
  .catalog__filter {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    transition: all .5s
  }
  .filter-open .catalog__filter {
    right: 0
  }
  .catalog__products {
    grid-template-columns: repeat(3,1fr)
  }
}
@media (max-width:61.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.99875em) {
  .page__product {
    padding-top: 1.25rem
  }
  .product__slider:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .product__title:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .product__sizes:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .product__to-cart:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .product__specs:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .product__specs {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .product__credit:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .product__shipping:not(:last-child) {
    margin-bottom: .9375rem
  }
  .sizes-product {
    flex-wrap: wrap
  }
  .shipping-product__item {
    gap: .9375rem
  }
  .spoilers-product__item:not(:last-child) {
    margin-bottom: .9375rem
  }
  .spoilers-product__title {
    padding-bottom: .625rem
  }
}
@media (max-width:34.37375em) {
  .header__label {
    font-size: .8125rem;
    padding: .625rem .9375rem
  }
  .footer__item:not(:last-child) {
    margin-bottom: .25rem
  }
  .social {
    gap: .625rem
  }
  .social__item {
    font-size: 1.75rem
  }
  .banner-home__image-link {
    aspect-ratio: 390/490
  }
  .catalog__title {
    font-size: 1.25rem
  }
}
@media (max-width:34.375em) {
  .catalog__products {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:24.375em) {
  .product-item__title {
    font-size: .6875rem
  }
  .product-item__price {
    font-size: 1.0625rem
  }
}
@media (max-width:61.99875em)and (min-width:47.99875em) {
  .menu__body {
    max-width: 25rem
  }
  .menu__body::before {
    max-width: 25rem
  }
}
@media (min-width:61.99875em)and (max-width:97.9375em) {
  @supports ((-moz-column-gap:clamp(1.875rem ,-3.8394686272rem + 9.2170707106vw ,5.1875rem)) or (column-gap:clamp(1.875rem ,-3.8394686272rem + 9.2170707106vw ,5.1875rem))) {
    .menu__list {
      -webkit-column-gap: clamp(1.875rem ,-3.8394686272rem + 9.2170707106vw ,5.1875rem);
      -moz-column-gap: clamp(1.875rem ,-3.8394686272rem + 9.2170707106vw ,5.1875rem);
      column-gap: clamp(1.875rem ,-3.8394686272rem + 9.2170707106vw ,5.1875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.875rem ,-3.8394686272rem + 9.2170707106vw ,5.1875rem)) or (column-gap:clamp(1.875rem ,-3.8394686272rem + 9.2170707106vw ,5.1875rem))) {
    .menu__list {
      -webkit-column-gap: calc(1.875rem + 3.3125*(100vw - 61.99875rem)/ 35.93875);
      -moz-column-gap: calc(1.875rem + 3.3125*(100vw - 61.99875rem)/ 35.93875);
      column-gap: calc(1.875rem + 3.3125*(100vw - 61.99875rem)/ 35.93875)
    }
  }
}
@media (min-width:20em)and (max-width:97.9375em) {
  @supports (padding-top:clamp(1.875rem ,0.992882919rem + 4.410585405vw ,5.3125rem)) {
    .footer {
      padding-top: clamp(1.875rem ,.992882919rem + 4.410585405vw ,5.3125rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,0.992882919rem + 4.410585405vw ,5.3125rem)) {
    .footer {
      padding-top: calc(1.875rem + 3.4375*(100vw - 20rem)/ 77.9375)
    }
  }
  @supports (padding-bottom:clamp(0.9375rem ,0.1676523657rem + 3.8492381716vw ,3.9375rem)) {
    .footer {
      padding-bottom: clamp(.9375rem ,.1676523657rem + 3.8492381716vw ,3.9375rem)
    }
  }
  @supports not (padding-bottom:clamp(0.9375rem ,0.1676523657rem + 3.8492381716vw ,3.9375rem)) {
    .footer {
      padding-bottom: calc(.9375rem + 3*(100vw - 20rem)/ 77.9375)
    }
  }
  @supports ((-moz-column-gap:clamp(1.5625rem ,0.3596130714rem + 6.0144346431vw ,6.25rem)) or (column-gap:clamp(1.5625rem ,0.3596130714rem + 6.0144346431vw ,6.25rem))) {
    .footer__content {
      -webkit-column-gap: clamp(1.5625rem ,.3596130714rem + 6.0144346431vw ,6.25rem);
      -moz-column-gap: clamp(1.5625rem ,.3596130714rem + 6.0144346431vw ,6.25rem);
      column-gap: clamp(1.5625rem ,.3596130714rem + 6.0144346431vw ,6.25rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.5625rem ,0.3596130714rem + 6.0144346431vw ,6.25rem)) or (column-gap:clamp(1.5625rem ,0.3596130714rem + 6.0144346431vw ,6.25rem))) {
    .footer__content {
      -webkit-column-gap: calc(1.5625rem + 4.6875*(100vw - 20rem)/ 77.9375);
      -moz-column-gap: calc(1.5625rem + 4.6875*(100vw - 20rem)/ 77.9375);
      column-gap: calc(1.5625rem + 4.6875*(100vw - 20rem)/ 77.9375)
    }
  }
  @supports (margin-bottom:clamp(0.5625rem ,0.1294607057rem + 2.1651964715vw ,2.25rem)) {
    .footer__title:not(:last-child) {
      margin-bottom: clamp(.5625rem ,.1294607057rem + 2.1651964715vw ,2.25rem)
    }
  }
  @supports not (margin-bottom:clamp(0.5625rem ,0.1294607057rem + 2.1651964715vw ,2.25rem)) {
    .footer__title:not(:last-child) {
      margin-bottom: calc(.5625rem + 1.6875*(100vw - 20rem)/ 77.9375)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.1598837209rem + 2.3255813953vw ,2.4375rem)) {
    .footer__list:not(:last-child) {
      margin-bottom: clamp(.625rem ,.1598837209rem + 2.3255813953vw ,2.4375rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.1598837209rem + 2.3255813953vw ,2.4375rem)) {
    .footer__list:not(:last-child) {
      margin-bottom: calc(.625rem + 1.8125*(100vw - 20rem)/ 77.9375)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,-0.0330793905rem + 6.4153969527vw ,6.25rem)) {
    .page__banner {
      margin-bottom: clamp(1.25rem ,-.0330793905rem + 6.4153969527vw ,6.25rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,-0.0330793905rem + 6.4153969527vw ,6.25rem)) {
    .page__banner {
      margin-bottom: calc(1.25rem + 5*(100vw - 20rem)/ 77.9375)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.541499599rem + 1.0425020048vw ,1.5625rem)) {
    .label-home {
      font-size: clamp(.75rem ,.541499599rem + 1.0425020048vw ,1.5625rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.541499599rem + 1.0425020048vw ,1.5625rem)) {
    .label-home {
      font-size: calc(.75rem + .8125*(100vw - 20rem)/ 77.9375)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.079691259rem + 2.7265437049vw ,2.75rem)) {
    .label-home {
      padding-top: clamp(.625rem ,.079691259rem + 2.7265437049vw ,2.75rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.079691259rem + 2.7265437049vw ,2.75rem)) {
    .label-home {
      padding-top: calc(.625rem + 2.125*(100vw - 20rem)/ 77.9375)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.079691259rem + 2.7265437049vw ,2.75rem)) {
    .label-home {
      padding-bottom: clamp(.625rem ,.079691259rem + 2.7265437049vw ,2.75rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.079691259rem + 2.7265437049vw ,2.75rem)) {
    .label-home {
      padding-bottom: calc(.625rem + 2.125*(100vw - 20rem)/ 77.9375)
    }
  }
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.4403067362rem + 2.4859663192vw ,2.875rem)) or (column-gap:clamp(0.9375rem ,0.4403067362rem + 2.4859663192vw ,2.875rem))) {
    .catalog__products {
      -webkit-column-gap: clamp(.9375rem ,.4403067362rem + 2.4859663192vw ,2.875rem);
      -moz-column-gap: clamp(.9375rem ,.4403067362rem + 2.4859663192vw ,2.875rem);
      column-gap: clamp(.9375rem ,.4403067362rem + 2.4859663192vw ,2.875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.4403067362rem + 2.4859663192vw ,2.875rem)) or (column-gap:clamp(0.9375rem ,0.4403067362rem + 2.4859663192vw ,2.875rem))) {
    .catalog__products {
      -webkit-column-gap: calc(.9375rem + 1.9375*(100vw - 20rem)/ 77.9375);
      -moz-column-gap: calc(.9375rem + 1.9375*(100vw - 20rem)/ 77.9375);
      column-gap: calc(.9375rem + 1.9375*(100vw - 20rem)/ 77.9375)
    }
  }
  @supports (row-gap:clamp(1.25rem ,0.6084603047rem + 3.2076984763vw ,3.75rem)) {
    .catalog__products {
      row-gap: clamp(1.25rem ,.6084603047rem + 3.2076984763vw ,3.75rem)
    }
  }
  @supports not (row-gap:clamp(1.25rem ,0.6084603047rem + 3.2076984763vw ,3.75rem)) {
    .catalog__products {
      row-gap: calc(1.25rem + 2.5*(100vw - 20rem)/ 77.9375)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.1698075381rem + 0.4009623095vw ,1.5625rem)) {
    .product__title {
      font-size: clamp(1.25rem ,1.1698075381rem + .4009623095vw ,1.5625rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.1698075381rem + 0.4009623095vw ,1.5625rem)) {
    .product__title {
      font-size: calc(1.25rem + .3125*(100vw - 20rem)/ 77.9375)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.1698075381rem + 0.4009623095vw ,1.5625rem)) {
    .to-cart__price {
      font-size: clamp(1.25rem ,1.1698075381rem + .4009623095vw ,1.5625rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.1698075381rem + 0.4009623095vw ,1.5625rem)) {
    .to-cart__price {
      font-size: calc(1.25rem + .3125*(100vw - 20rem)/ 77.9375)
    }
  }
  @supports (font-size:clamp(1.125rem ,1.0127305533rem + 0.5613472334vw ,1.5625rem)) {
    .shipping-product__title {
      font-size: clamp(1.125rem ,1.0127305533rem + .5613472334vw ,1.5625rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,1.0127305533rem + 0.5613472334vw ,1.5625rem)) {
    .shipping-product__title {
      font-size: calc(1.125rem + .4375*(100vw - 20rem)/ 77.9375)
    }
  }
  @supports (font-size:clamp(1.125rem ,1.0127305533rem + 0.5613472334vw ,1.5625rem)) {
    .spoilers-product__title {
      font-size: clamp(1.125rem ,1.0127305533rem + .5613472334vw ,1.5625rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,1.0127305533rem + 0.5613472334vw ,1.5625rem)) {
    .spoilers-product__title {
      font-size: calc(1.125rem + .4375*(100vw - 20rem)/ 77.9375)
    }
  }
  @supports (font-size:clamp(1rem ,0.8556535686rem + 0.7217321572vw ,1.5625rem)) {
    .button-product {
      font-size: clamp(1rem ,.8556535686rem + .7217321572vw ,1.5625rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.8556535686rem + 0.7217321572vw ,1.5625rem)) {
    .button-product {
      font-size: calc(1rem + .5625*(100vw - 20rem)/ 77.9375)
    }
  }
}
@media (max-width:61.99875em)and (min-width:34.37375em) {
  .catalog__filter {
    max-width: 30rem
  }
}
@media (min-width:24.375em)and (max-width:97.9375em) {
  @supports (font-size:clamp(0.6875rem ,0.5425339847rem + 0.5947323704vw ,1.125rem)) {
    .product-item__title {
      font-size: clamp(.6875rem ,.5425339847rem + .5947323704vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(0.6875rem ,0.5425339847rem + 0.5947323704vw ,1.125rem)) {
    .product-item__title {
      font-size: calc(.6875rem + .4375*(100vw - 24.375rem)/ 73.5625)
    }
  }
  @supports (font-size:clamp(1.0625rem ,0.896824554rem + 0.6796941376vw ,1.5625rem)) {
    .product-item__price {
      font-size: clamp(1.0625rem ,.896824554rem + .6796941376vw ,1.5625rem)
    }
  }
  @supports not (font-size:clamp(1.0625rem ,0.896824554rem + 0.6796941376vw ,1.5625rem)) {
    .product-item__price {
      font-size: calc(1.0625rem + .5*(100vw - 24.375rem)/ 73.5625)
    }
  }
}
@media (min-width:47.99875em)and (max-width:97.9375em) {
  @supports (padding-left:clamp(0.9375rem ,-2.9671816725rem + 8.1349653325vw ,5rem)) {
    .product__body {
      padding-left: clamp(.9375rem ,-2.9671816725rem + 8.1349653325vw ,5rem)
    }
  }
  @supports not (padding-left:clamp(0.9375rem ,-2.9671816725rem + 8.1349653325vw ,5rem)) {
    .product__body {
      padding-left: calc(.9375rem + 4.0625*(100vw - 47.99875rem)/ 49.93875)
    }
  }
}
@media (any-hover:hover) {
  .footer__link:hover,
  .product-item__link:hover,
  .submenu__link:hover {
    text-decoration-color: inherit
  }
  .menu__item:hover::before {
    width: 100%
  }
  .menu__item:hover .menu__submenu {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .actions-header__item:hover::before {
    -webkit-transform: scale(.9);
    transform: scale(.9)
  }
  .social__item:hover {
    opacity: .8
  }
  .filter__title:hover {
    color: #000
  }
  .filter__button:hover {
    background-color: #bdbdbd
  }
  .checkbox-text:not(:has(.checkbox-text__input:checked)):hover {
    color: #000
  }
  .checkbox-text:not(:has(.checkbox-text__input:checked)):hover::before {
    border-color: #000
  }
  .sizes__item:not(:has(input:checked)):hover {
    background-color: #e7e7e7
  }
  .product-item__image-link:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .sizes-product__button:hover {
    color: #000
  }
  .to-cart__favorite:hover {
    background-color: #e7e7e7
  }
  .button-product:hover {
    background-color: #ce465b
  }
  .button-product:hover::before {
    width: 100%;
    right: auto;
    left: 0
  }
}
@media screen and (-ms-high-contrast:none) {
  .splide__slide:focus-visible {
    border: 3px solid #0bf
  }
  .splide.is-focus-in .splide__slide:focus {
    border: 3px solid #0bf
  }
  .splide.is-focus-in .splide__track>.splide__list>.splide__slide:focus {
    border-color: #0bf
  }
}